{% load static %}
{% comment %} {% extends "index.html" %}  {% endcomment %}
{% block title %}
{% endblock %}
{% block content %}
<div style="max-width: 400px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;">
    <h1 style="text-align: center;">Reset your password</h1>
    {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p style="text-align: center;"><input type="submit" value="Change my password" style="background-color: #007bff; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;" /></p>
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}
