{% load static %}
{% comment %} {% extends "index.html" %}  {% endcomment %}
<div style="max-width: 400px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); background-color: #fff;">
    <h1 style="font-size: 24px; margin-bottom: 10px;">Forgotten your password?</h1>
    <p style="font-size: 16px; margin-bottom: 20px;">Enter your e-mail address to obtain a new password.</p>
    <form style="display: flex; flex-direction: column;" action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p style="margin: 10px 0;">
            <button type="submit" style="padding: 10px 20px; font-size: 16px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;">Send Email</button>
        </p>
    </form>
</div>

