{% load static %}
{% comment %} {% extends "index.html" %}  {% endcomment %}

<div style="max-width: 400px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); background-color: #fff;">
    <p style="font-size: 16px; margin-bottom: 20px;">Someone asked for a password reset for the email address: {{ email }}.</p>
    <p style="font-size: 16px; margin-bottom: 20px;">Follow the link below to reset your password:</p>
    <p style="font-size: 16px; margin-bottom: 20px;">
        <a style="color: #007bff; text-decoration: none;" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            Reset Password
        </a>
    </p>
    <p style="font-size: 16px;">Your username, in case you've forgotten: {{ user.get_username }}</p>
</div>

