{% load static %}
{% comment %} {% extends "index.html" %}  {% endcomment %}
{% block title %}
{% endblock %}
{% block content %}
<div style="max-width: 400px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;">
    <h1 style="text-align: center;">Password set</h1>
    <p style="text-align: center;">Your password has been set. You can <a href="{% url 'login' %}" style="color: #007bff; text-decoration: none;">login now</a></p>
</div>
{% endblock %}
