{% extends 'patient/base.html' %}
{% block body %}
 <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>
            {% if profile_status %}
              <center>
                  <h2 style="color: red"> 
                {{profile_status}}
              </h2> 
              </center>

            {% endif %}
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-success" style="color:green;"> {{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            
        </div>
        </div>

{% endblock %}

